body {
  margin: auto;
  background-color: #000;
}
:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MainHeader{
  background-color:#000;
}
h1, h2 {
  color:#fff;
  text-align: center;
}
.musicOuter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}
.album {
  padding: 2rem;
  background-color: rgb(48, 47, 47);
}

/*-- ALBUM COVER ------------ */
.albumCover {
  color: #ffffff;
  width:300px;
  height:300px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}
img{
  width:300px;
  display:block;
  margin:auto;
}

.icon-container{
  height:300px;
  width:300px;
  top:0;
  left:0;
  position:absolute;
  background:rgba(0, 0, 0, 0.6);
  display:flex;
  justify-content:center;
  align-items:center;
  opacity:0;
  transition:0.6s;
}
.icon-container:hover{
  opacity:1;
}

button{
  background-color:transparent;
  height:30px;
  width:30px;
  border:none;
}
button.heart{
  background-color: white;
    -webkit-mask:  url(../src/assets/icons/heart.svg) no-repeat 50% 50%;
    mask: url(./heart.svg) no-repeat 50% 50%;
}
button.dots{
  background-color: white;
    -webkit-mask:  url(../src/assets/icons/dots.svg) no-repeat 50% 50%;
    mask: url(./dots.svg) no-repeat 50% 50%;
}
button.play{
  background-color: white;
    -webkit-mask:  url(../src/assets/icons/play.svg) no-repeat 50% 50%;
    mask: url(./play.svg) no-repeat 50% 50%;
}

.icon{
  margin:0 10px;
  transition: transform .2s;
  opacity:.7;
  top:200px;
}
.icon:hover{
  display:block;
  transform: scale(1.2);
  opacity:1;
}





.albumName {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin-top: 1rem;
}
.albumName a {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
.artistName  {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0;
}
.artistName a {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0;
}


a:hover {
  text-decoration:underline;
  color: #ffffff;
}
/* Mobile */
@media (min-width: 400px) {
  .musicOuter {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  }
}

/* Tablet */
@media (min-width: 750px) {
  .musicOuter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .musicOuter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  }
}
