body {
  margin: auto;
  background-color: #000;
}
:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MainHeader{
  background-color:#000;
}
h1, h2 {
  color:#fff;
  text-align: center;
}
.musicOuter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}
.album {
  padding: 2rem;
  background-color: rgb(48, 47, 47);
}

/*-- ALBUM COVER ------------ */
.albumCover {
  color: #ffffff;
}
img.darker{
  transition: all 0.2s ease-in-out;
}
img.darker:hover{
  filter: brightness(40%);
}

/* test class to set on cover in function*/
.darkerCoverImg{
  filter: brightness(40%);
  transition: all 0.2s ease-in-out;
}



.icon-container{
  display:flex;
  justify-content:center;
  position:absolute;
  top:42%;
  transition: 0.3s;
  width:300px;
}
button{
  background-color:red;
  height:30px;
  width:30px;
  border:none;
}
button.heart{
  background-image:url(./heart.svg);
  background-size:contain;
}
button.dots{
  background-image:url(./dots.svg);
}
button.play{
  background-image:url(./play.svg);
}
button.heart,
button.play,
button.dots{
  background-repeat:no-repeat;
}
.icon{
  margin:0 10px;
  transition: transform .2s;
  opacity:.7;
  /*display:none;*/
  
}


.icon:hover{
  display:block;
  transform: scale(1.2);
  opacity:1;
}





.albumName {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin-top: 1rem;
}
.albumName a {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
.artistName  {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0;
}
.artistName a {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0;
}


a:hover {
  text-decoration:underline;
  color: #ffffff;
}
/* Mobile */
@media (min-width: 400px) {
  .musicOuter {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  }
}

/* Tablet */
@media (min-width: 750px) {
  .musicOuter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .musicOuter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  }
}
